<%- include('header') -%>

<% if(error) { %>
    <div class="errormsg">
        <p class='errormsg__text'><%= errormsg %></p>
    </div>
<% } else { %>
    <%- html -%>
<% } %>

<div class=<%= tilbaka %>>
        <a class="tilBaka" href='/'>Til baka</a>
</div>


<%- include('footer') -%>
